body{
    padding: 1%;
    margin: 1%;
    font-size: 20px;
}

header{
    padding: 2%;
	background:#676a17de url('../images/flywheel.jpg') no-repeat;
    background-size: cover;
}

h1{
	color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

nav a{
    display: inline-block;
    margin-left: 125px;
    border-radius: 4%;
    text-decoration: none;
    padding: 20px 60px;
    background-color: rgb(255, 255, 255, 0.3);
    color: #000000;
}

.active{
    background-color: rgb(255, 255, 255, 1);
}

.left{
    float: left;
    background-color: #676a17de;
    padding: 10px;
    height: 100vh;
}

.right{
	padding-left: 340px;
}

img{
    display: block;
    margin: 9px auto;
    width: 250px;
    border: #000000 solid 3px;
}

table{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1;
    width: 75%;
    margin: auto 11%;
    text-align: center;
}

th{
    background-color: #6c7d4bde;
    background: -webkit-linear-gradient(bottom, #85883bde, #ccd04ede);
    background: -moz-linear-gradient(bottom, #85883bde, #ccd04ede);
    background: -o-linear-gradient(bottom, #85883bde, #ccd04ede);
    background: linear-gradient(bottom, #85883bde, #ccd04ede);
    border: 1.5px solid #e1ff00;
    border-bottom: 2.5px solid #e1ff00;
    border-radius: 5px 5px 0 0;
    padding: 1.5%;
    color: #ffffff;
}

td:first-child, th:first-child{
    text-align: left;
}

tr:not(tr:first-child){
    opacity: 0.75;
}

tr:not(tr:first-child):hover{
    opacity: 1;
}

td{
    padding: 1.5%;
    color: #0a0a0a;
    background-color: #c3dba3de;
    border: 2px solid #aac279de;
    border-radius: 2px;
    border-spacing: 0mm;
    text-shadow: 1px 1px 2px #6c7d4b;
}

/* This is the end of css3 stylesheet */